nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: #61dafb;
    color: #333;
}

.active-link {
    background-color: #61dafb;
    color: #333;
}
